In [7]:
from datetime import date
import time
import socket
import pandas as pd
import pymssql as sql
import warnings
warnings.filterwarnings("ignore")

In [8]:
conexao = sql.connect('172.20.180.90','SEDE\willian.luz','Safeweb1?','StagingPB')

In [9]:
dadossql = pd.read_sql_query('''EXEC [pbix].[stpGetResultadoGerais] @TIPO = 10''',conexao)

In [10]:
dadossql

,IdSafeNotaFaturamentoENota,Documento,Cliente,nNF,BankSlipNumber,DataMovimento,DataVencimento,MesAnoFaturamento,DataPagamento,Valor,Pagamento,CodigoVerificacao,IdTransaction,TipoPagamento,StatusNFSe,DataInclusaoContrato,Ativo,GeraCobranca,Historico,DataColeta
0,1,07834257000198,LUA LOA COSMETICOS LTDA,154846993932373,31226310048025912,2023-03-27,2023-04-10,03-2023,None,54.20,Em Aberto,None,48025912,BOLETO,None,2019-04-29 14:34:36.140000000,Ativo,Sim,154846993932373,2023-04-14 16:06:38.490
1,2,31590373000193,LUANA MEDEIROS BRIAO,154848378955044,31226310048025921,2023-03-27,2023-04-10,03-2023,None,54.20,Em Aberto,None,48025921,BOLETO,None,2019-07-30 08:22:31.897000000,Ativo,Sim,154848378955044,2023-04-14 16:06:38.490
2,3,93887339000132,LT ARTEFATOS DE COURO LTDA,154846074551651,31226310048025899,2023-03-27,2023-04-10,03-2023,2023-04-10,87.70,Realizado,None,48025899,BOLETO,None,2016-04-19 11:25:54.440000000,Ativo,Sim,154846074551651,2023-04-14 16:06:38.490
3,4,03211036000102,JOACIR MALLABARBA RESTAURANTE,202300000054203,31226310048022655,2023-03-27,2023-04-10,03-2023,2023-04-03,54.20,Realizado,3ff37c18,48022655,BOLETO,AUTORIZADA,2021-06-17 17:32:37.400000000,Ativo,Sim,202300000054203,2023-04-14 16:06:38.490
4,5,04719057000104,JOAO CARLOS DE OLIVEIRA CACHOEIRINHA,202300000054222,31226310048022768,2023-03-27,2023-04-10,03-2023,2023-03-30,54.20,Realizado,9b2d3b,48022768,BOLETO,AUTORIZADA,2018-10-02 17:00:32.117000000,Ativo,Sim,202300000054222,2023-04-14 16:06:38.490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143178,143179,08488729000160,CHARLES MACHADO NUNES,220118012112777,31226310023052252,2022-01-18,2022-01-21,12-2021,2022-04-13,30.00,Realizado,None,23052252,None,None,2021-12-15 15:17:47.800000000,Ativo,Sim,220118012112777,2023-04-14 16:06:45.723
143179,143180,32415832000165,CASA DE DOCES MAMAO COM ACUCAR LTDA,220104094412116,311590173,2022-01-04,2022-01-13,12-2021,2022-07-07,47.50,Realizado,None,22397043,Boleto,None,2021-02-22 14:02:11.350000000,Distrato,Não,220104094412116,2023-04-14 16:06:45.723
143180,143181,32415832000165,CASA DE DOCES MAMAO COM ACUCAR LTDA,220104094412116,311590173,2022-01-04,2022-01-13,12-2021,2022-07-07,47.50,Realizado,None,22397043,Boleto,None,2021-09-01 15:16:12.170000000,Bloqueado,Não,220104094412116,2023-04-14 16:06:45.723
143181,143182,32415832000165,CASA DE DOCES MAMAO COM ACUCAR LTDA,220104094412116,0000049863086,2022-01-04,2022-07-08,12-2021,2022-07-07,51.22,Realizado,None,33294980,BOLETO,None,2021-02-22 14:02:11.350000000,Distrato,Não,220104094412116,2023-04-14 16:06:45.723
143182,143183,32415832000165,CASA DE DOCES MAMAO COM ACUCAR LTDA,220104094412116,0000049863086,2022-01-04,2022-07-08,12-2021,2022-07-07,51.22,Realizado,None,33294980,BOLETO,None,2021-09-01 15:16:12.170000000,Bloqueado,Não,220104094412116,2023-04-14 16:06:45.723

In [11]:
dadossql.columns

Index(['IdSafeNotaFaturamentoENota', 'Documento', 'Cliente', 'nNF',
       'BankSlipNumber', 'DataMovimento', 'DataVencimento',
       'MesAnoFaturamento', 'DataPagamento', 'Valor', 'Pagamento',
       'CodigoVerificacao', 'IdTransaction', 'TipoPagamento', 'StatusNFSe',
       'DataInclusaoContrato', 'Ativo', 'GeraCobranca', 'Historico',
       'DataColeta'],
      dtype='object')

In [14]:
dadossql.dtypes

IdSafeNotaFaturamentoENota             int64
Documento                             object
Cliente                               object
nNF                                   object
BankSlipNumber                        object
DataMovimento                         object
DataVencimento                        object
MesAnoFaturamento                     object
DataPagamento                         object
Valor                                 object
Pagamento                             object
CodigoVerificacao                     object
IdTransaction                         object
TipoPagamento                         object
StatusNFSe                            object
DataInclusaoContrato                  object
Ativo                                 object
GeraCobranca                          object
Historico                             object
DataColeta                    datetime64[ns]
dtype: object

In [15]:
dadossql.describe()

       IdSafeNotaFaturamentoENota
count               143183.000000
mean                 71592.000000
std                  41333.516134
min                      1.000000
25%                  35796.500000
50%                  71592.000000
75%                 107387.500000
max                 143183.000000

In [16]:
dadossql.isna()

,IdSafeNotaFaturamentoENota,Documento,Cliente,nNF,BankSlipNumber,DataMovimento,DataVencimento,MesAnoFaturamento,DataPagamento,Valor,Pagamento,CodigoVerificacao,IdTransaction,TipoPagamento,StatusNFSe,DataInclusaoContrato,Ativo,GeraCobranca,Historico,DataColeta
0,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143178,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False
143179,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
143180,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
143181,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False
143182,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False